.button{
  display: inline-block;
  width: 50%;
  margin: 10px;
  font-size: 75px;

}
i{
  flex: 2;
}
.button-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
  max-height: 70vh;
}

/* @media (max-width: 990px) {
  .button{
      display: inline-block;
      width: 50%;
      margin: 10px;
      font-size: 50px;
  
  }
} */
.button a{
  height: 100%;
  width: 100%;
}